<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">
</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Afghanistan<img src="img/afghanistan-flag.gif" alt="" style="margin-left: 30px"
                                             onclick="view('img/afghanistan-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%"
                src="https://www.youtube.com/v/JvEd5tM2aIo"></iframe>
    </div>
    <div id="content" class="thumbnail">
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        31 822 848
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        250,000 sq mi <br/>(647,500 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Afghani
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Kabul <br/> 3 097 300
                    </div>
                </div>
            </div>
        </div>
        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                       <span> Large cities: <br/>
                        Kandahar, 349 300<br/>
                        Mazar-i-Sharif, 246 900<br/>
                        Charikar, 202 600<br/>
                        Herat, 171 500</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/afghanistan-map.gif" class="img-thumbnail" onclick="view('img/afghanistan-map.gif')"/>
    <div id="geography" style="color: white">
        <p>Afghanistan, approximately the size of Texas, is bordered on the north by Turkmenistan, Uzbekistan, and
            Tajikistan, on the extreme northeast by China, on the east and south by Pakistan, and by Iran on the west.
            The country is split east to west by the Hindu Kush mountain range, rising in the east to heights of 24,000
            ft (7,315 m). With the exception of the southwest, most of the country is covered by high snow-capped
            mountains.</p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/a">Back to A</a></button>
    </div>
</div>
<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
