<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">

</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Armenia<img src="img/armenia-flag.gif" alt="" style="margin-left: 30px"
                                           onclick="view('img/armenia-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%"
                src=https://www.youtube.com/v/G9hWlq7nN7E></iframe>
    </div>


    <div id="content" class="thumbnail">

        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        3,060,631
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        11,506 sq mi <br/>(29,800 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Dram
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Yerevan<br/> 1.116 million
                    </div>
                </div>
            </div>
        </div>

        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                       <span> Large cities: <br/>
                         Vanadzor, 147,400<br/>
                  Gyumri (Leninakan), 125,300 <br/>
                  Abovian, 59,300 <br/>
                           </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <img src="img/armenia-map.gif" class="img-thumbnail" onclick="view('img/armenia-map.gif')"/>
    <div id="geography" style="color: white">
        <p>Armenia is located in the southern Caucasus and is the smallest of the former Soviet republics. It is bounded by Georgia on the north, Azerbaijan on the east, Iran on the south, and Turkey on the west. Contemporary Armenia is a fraction of the size of ancient Armenia. A land of rugged mountains and extinct volcanoes, its highest point is Mount Aragats, 13,435 ft (4,095 m).</p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/a">Back to A</a></button>
    </div>
</div>

<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
