<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">
</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Azerbaijan<img src="img/azerbaijan-flag.gif" alt="" style="margin-left: 30px" onclick="view('img/azerbaijan-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%" src=https://www.youtube.com/v/mKpr6vJ7jqQ></iframe>
    </div>
    <div id="content" class="thumbnail">
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        9,686,210
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        33,436 sq mi <br/>(86,600 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Manat
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Baku<br/> 2.123 million
                    </div>
                </div>
            </div>
        </div>
        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                       <span> Large cities: <br/>
                       Ganja, 303,000<br/>
               Sumgait, 280,500
                           </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/azerbaijan-map.gif" class="img-thumbnail" onclick="view('img/azerbaijan-map.gif')"/>
    <div id="geography" style="color: white">
        <p>Azerbaijan is located on the western shore of the Caspian Sea at the southeast extremity of the Caucasus. The
            region is a mountainous country, and only about 7% of it is arable land. The Kura River Valley is the area's
            major agricultural zone.</p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/a">Back to A</a></button>
    </div>
</div>
<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
