

<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">

</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Bangladesh<img src="img/bangladesh-flag.gif" alt="" style="margin-left: 30px"
                                         onclick="view('img/bangladesh-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%"
                src=https://www.youtube.com/v/svVIqd-XuGs></iframe>
    </div>


    <div id="content" class="thumbnail">

        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        166,280,712
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        55,598 sq mi <br/>(144,000 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Taka
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Dhaka <br/> 15.391 million
                    </div>
                </div>
            </div>
        </div>

        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                       <span> Large cities: <br/>
                       Chittagong, 5.239 million<br/>
                        Khulna, 1.781 million<br/>
                       Rajshahi 932,000<br/>
                           </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <img src="img/bangladesh-map.gif" class="img-thumbnail" onclick="view('img/bangladesh-map.gif')"/>
    <div id="geography" style="color: white">
        <p>Bangladesh, on the northern coast of the Bay of Bengal, is surrounded by India, with a small common border with Myanmar in the southeast. The country is low-lying riverine land traversed by the many branches and tributaries of the Ganges and Brahmaputra rivers.
            Tropical monsoons and frequent floods and cyclones inflict heavy damage in the delta region.</p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/b">Back to B</a></button>
    </div>
</div>

<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
