<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">
</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Belarus<img src="img/belarus-flag.gif" alt="" style="margin-left: 30px" onclick="view('img/belarus-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%" src=https://www.youtube.com/v/HwV0PVZCWN8></iframe>
    </div>
    <div id="content" class="thumbnail">
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        9,608,058
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        80,154 sq mi <br/>(207,600 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Belorussian ruble
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Mensk (Minsk) <br/> 1.861 million
                    </div>
                </div>
            </div>
        </div>
        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                         <span> Large cities: <br/>
                      Gomel, 502,200<br/>
                       Mogilyov, 374,000<br/>
                     Vitebsk, 355,800<br/>
                             Grodno, 314,100<br/>
                             Brest, 306,300<br/>
                             Bobruysk, 228,100
                           </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/belarus-map.gif" class="img-thumbnail" onclick="view('img/belarus-map.gif')"/>
    <div id="geography" style="color: white">
        <p>Much of Belarus (formerly the Belorussian Soviet Socialist Republic of the USSR,
            and then Byelorussia) is a hilly lowland with forests, swamps, and numerous rivers and lakes.
            There are wide rivers emptying into the Baltic and Black seas.
            Its forests cover over one-third of the land and its peat marshes are a valuable natural resource.
            The largest lake is Narach, 31 sq mi (79.6 sq km).</p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/b">Back to B</a></button>
    </div>
</div>
<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
