<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">

</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Benin<img src="img/benin-flag.gif" alt="" style="margin-left: 30px"
                                        onclick="view('img/benin-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%"
                src=https://www.youtube.com/v/htuk5kjXiOg></iframe>
    </div>


    <div id="content" class="thumbnail">

        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        10,160,556
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        43,483 sq mi <br/>(112,620 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        CFA Franc
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Porto-Novo <br/>314,000
                    </div>
                </div>
            </div>
        </div>

        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                         <span> Large cities: <br/>
                   Cotonou 924,000 <br/>
                           </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img src="img/benin-map.gif" class="img-thumbnail" onclick="view('img/benin-map.gif')"/>
    <div id="geography" style="color: white">
<p>This West African nation on the Gulf of Guinea, between Togo on the west and Nigeria on the east, is about the size of Tennessee.
    It is bounded by Burkina Faso and Niger on the north.
    The land consists of a narrow coastal strip that rises to a swampy, forested plateau and then to highlands in the north.
    A hot and humid climate blankets the entire country.</p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/b">Back to B</a></button>
    </div>
</div>

<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
