<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">

</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Bolivia<img src="img/bolivia-flag.gif" alt="" style="margin-left: 30px"
                                        onclick="view('img/bolivia-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%"
                src=https://www.youtube.com/v/khFTVTN5tzo></iframe>
    </div>


    <div id="content" class="thumbnail">

        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        10,631,486
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        424,164 sq mi <br/>(1,098,580 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Boliviano
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        La Paz  <br/> 1.715 million
                    </div>
                </div>
            </div>
        </div>

        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                       <span> Large cities: <br/>
                 Santa Cruz 1.719 million <br/>
                           </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img src="img/bolivia-map.gif" class="img-thumbnail" onclick="view('img/bolivia-map.gif')"/>
    <div id="geography" style="color: white">
        <p>Landlocked Bolivia is equal in size to California and Texas combined.
            Brazil forms its eastern border; its other neighbors are Peru and Chile on the west and Argentina and Paraguay on the south.
            The western part, enclosed by two chains of the Andes, is a great plateau—the Altiplano,
            with an average altitude of 12,000 ft (3,658 m).
            Almost half the population lives on the plateau, which contains Oruro, Potosí, and La Paz.</p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/b">Back to B</a></button>
    </div>
</div>

<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
