<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">

</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Burkina Faso<img src="img/burkina-flag.gif" alt="" style="margin-left: 30px"
                                          onclick="view('img/burkina-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%"
                src=https://www.youtube.com/v/Ig_IYHlCqF8></iframe>
    </div>


    <div id="content" class="thumbnail">

        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        18,365,123
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        105,869 sq mi <br/> (274,200 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        CFA Franc
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Ouagadougou <br/>  2.053 million
                    </div>
                </div>
            </div>
        </div>

        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/burkina-map.gif" class="img-thumbnail" onclick="view('img/burkina-map.gif')"/>
    <div id="geography" style="color: white">
        <p>Slightly larger than Colorado, Burkina Faso, formerly known as Upper Volta, is a landlocked country in West Africa.
            Its neighbors are Côte d'Ivoire, Mali, Niger, Benin, Togo, and Ghana.
            The country consists of extensive plains, low hills, high savannas, and a desert area in the north.</p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/b">Back to B</a></button>
    </div>
</div>

<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
