<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">
</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Burundi<img src="img/burundi-flag.gif" alt="" style="margin-left: 30px" onclick="view('img/burundi-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%" src=https://www.youtube.com/v/kz6MLeUrJ2M></iframe>
    </div>
    <div id="content" class="thumbnail">
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        10,395,931
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        10,745 sq mi <br/> (27,830 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Burundi franc
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Bujumbura <br/> 605,000
                    </div>
                </div>
            </div>
        </div>
        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        <span> Large cities: <br/>
                       Gitega, 45,700<br/>
                           </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/burundi-map.gif" class="img-thumbnail" onclick="view('img/burundi-map.gif')"/>
    <div id="geography" style="color: white">
        <p>Wedged between Tanzania, the Democratic Republic of the Congo, and Rwanda in east-central Africa,
            Burundi occupies a high plateau divided by several deep valleys.
            It is equal in size to Maryland.</p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/b">Back to B</a></button>
    </div>
</div>
<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
