<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">

</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Cameroon<img src="img/cameroon-flag.gif" alt="" style="margin-left: 30px"
                                          onclick="view('img/cameroon-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%"
                src=https://www.youtube.com/v/UsiVxIdke84></iframe>
    </div>


    <div id="content" class="thumbnail">

        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        23,130,708
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        183,567 sq mi <br/>(475,440 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        CFA Franc
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Yaoundé <br/> 2.432 million
                    </div>
                </div>
            </div>
        </div>

        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        <span> Large cities: <br/>
                       Douala, 2.449 million<br/>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/cameroon-map.gif" class="img-thumbnail" onclick="view('img/cameroon-map.gif')"/>
    <div id="geography" style="color: white">
        <p>
            Cameroon is a Central African nation on the Gulf of Guinea, bordered by Nigeria, Chad, the Central African
            Republic,
            the Republic of Congo, Equatorial Guinea, and Gabon.
            It is nearly twice the size of Oregon. Mount Cameroon (13,350 ft; 4,069 m), near the coast,
            is the highest elevation in the country.
            The main rivers are the Benue, Nyong, and Sanaga.
        </p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/c">Back to C</a></button>
    </div>
</div>

<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
