<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">
</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Cape Verde<img src="img/capeverde-flag.gif" alt="" style="margin-left: 30px" onclick="view('img/capeverde-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%" src=https://www.youtube.com/v/qHCvmxr-Wos></iframe>
    </div>
    <div id="content" class="thumbnail">
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        538,535
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        1,556 sq mi<br/> (4,030 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Cape Verdean escudo
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Praia <br/> 132,000
                    </div>
                </div>
            </div>
        </div>
        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        <span> Large cities: <br/>
                     Mindelo, 66,100 <br/>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/capverde-map.gif" class="img-thumbnail" onclick="view('img/capverde-map.gif')"/>
    <div id="geography" style="color: white">
        <p>
            Cape Verde, only slightly larger than Rhode Island, is an archipelago in the Atlantic 385 mi (500 km) west
            of Senegal.
            The islands are divided into two groups: Barlavento in the north
            and Sotavento in the south.
        </p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/c">Back to C</a></button>
    </div>
</div>
<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
