<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">
</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Côte d'Ivoire<img src="img/cote-flag.gif" alt="" style="margin-left: 30px" onclick="view('img/cote-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%" src=https://www.youtube.com/v/JFEu6tVVoxI></iframe>
    </div>
    <div id="content" class="thumbnail">
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        22,848,945
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        124,502 sq mi <br/>(322,460 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        CFA Franc
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Yamoussoukro <br/> 966,000
                    </div>
                </div>
            </div>
        </div>
        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                       <span> Large cities: <br/>
                        Abidjan, 4.288 million<br/>
                       </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/cote-map.gif" class="img-thumbnail" onclick="view('img/cote-map.gif')"/>
    <div id="geography" style="color: white">
        <p>
            Côte d'Ivoire (also known as the Ivory Coast), in western Africa on the Gulf of Guinea, is a little larger
            than New Mexico.
            Its neighbors are Liberia, Guinea, Mali, Burkina Faso, and Ghana.
            The country consists of a coastal strip in the south, dense forests in the interior, and savannas in the
            north.
        </p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/c">Back to C</a></button>
    </div>
</div>
<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
