<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">
</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Cyprus<img src="img/cyprus-flag.gif" alt="" style="margin-left: 30px" onclick="view('img/cyprus-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%" src=https://www.youtube.com/v/OAMT-hyDMA0></iframe>
    </div>
    <div id="content" class="thumbnail">
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        1,172,458
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        3,568 sq mi<br/>(9,241 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Euro
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Necosia <br/> 253,000
                    </div>
                </div>
            </div>
        </div>
        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/cyprus-map.gif" class="img-thumbnail" onclick="view('img/cyprus-map.gif')"/>
    <div id="geography" style="color: white">
        <p>
            The third-largest island in the Mediterranean (one and one-half times the size of Delaware),
            Cyprus lies off the southern coast of Turkey and the western shore of Syria.
            The highest peak is Mount Olympus at 6,406 ft (1,953 m).
        </p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/c">Back to C</a></button>
    </div>
</div>
<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
