<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">

</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Czech Republic<img src="img/czech-flag.gif" alt="" style="margin-left: 30px"
                                        onclick="view('img/czech-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%"
                src=https://www.youtube.com/v/Z-l7qrr28Yo></iframe>
    </div>


    <div id="content" class="thumbnail">

        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        10,627,448
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        30,450 sq mi <br/>(78,866 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Koruna
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Prague <br/>  1.276 million
                    </div>
                </div>
            </div>
        </div>

        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        <span> Large cities: <br/>
                        Brno, 376,400<br/>
                        Ostrava, 317,700<br/>
                       Plzen, 164,900<br/>
                        Olomouc, 102,900</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/czech-map.gif" class="img-thumbnail" onclick="view('img/czech-map.gif')"/>
    <div id="geography" style="color: white">
        <p>
            The Czech Republic's central European landscape is dominated by the Bohemian Massif,
            which rises to heights of 3,000 ft (900 m) above sea level.
            This ring of mountains encircles a large elevated basin, the Bohemian Plateau.
            The principal rivers are the Elbe and the Vltava.
        </p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/c">Back to C</a></button>
    </div>
</div>

<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
