<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">
</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Fiji<img src="img/fiji-flag.gif" alt="" style="margin-left: 30px" onclick="view('img/fiji-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%" src=https://www.youtube.com/v/JRaakIL-N_s></iframe>
    </div>
    <div id="content" class="thumbnail">
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        903,207
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        7,054 sq mi<br/>(18,270 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Fiji dollar
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Suva <br/>177,000
                    </div>
                </div>
            </div>
        </div>
        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        <span> Large cities: <br/>
                           </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/fiji-map.gif" class="img-thumbnail" onclick="view('img/fiji-map.gif')"/>
    <div id="geography" style="color: white">
        <p>
            Fiji consists of 332 islands in the southwest Pacific Ocean about 1,960 mi (3,152 km) from Sydney,
            Australia.
            About 110 of these islands are inhabited.
            The two largest are Viti Levu (4,109 sq mi; 10,642 sq km) and Vanua Levu (2,242 sq mi; 5,807 sq km).
        </p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/f">Back to F</a></button>
    </div>
</div>
<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
