<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">
</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Germany<img src="img/germany-flag.gif" alt="" style="margin-left: 30px" onclick="view('img/germany-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%" src=https://www.youtube.com/v/u9n_NbN98yE></iframe>
    </div>
    <div id="content" class="thumbnail">
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        80,996,685
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        137,846 sq mi  <br/> (357,021 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Euro (formerly Deutsche mark)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Berlin  <br/>3.462 million
                    </div>
                </div>
            </div>
        </div>
        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        <span> Large cities: <br/>
                            Hamburg, 1.796 million<br/>
                            Munich, 1.364 million<br/>
                            Cologne, 1.006 million<br/>
                           </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/germany-map.gif" class="img-thumbnail" onclick="view('img/germany-map.gif')"/>
    <div id="geography" style="color: white">
        <p>
            Located in central Europe, Germany is made up of the North German Plain, the Central German Uplands (Mittelgebirge),
            and the Southern German Highlands. The Bavarian plateau in the southwest averages 1,600 ft (488 m) above sea level,
            but it reaches 9,721 ft (2,962 m) in the Zugspitze Mountains, the highest point in the country.
            Germany's major rivers are the Danube, the Elbe, the Oder, the Weser, and the Rhine. Germany is about the size of Montana.
        </p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/g">Back to G</a></button>
    </div>
</div>
<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
