<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">
</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Guatemala<img src="img/guatemala-flag.gif" alt="" style="margin-left: 30px" onclick="view('img/guatemala-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%" src=https://www.youtube.com/v/pZr2V_KRxOU></iframe>
    </div>
    <div id="content" class="thumbnail">
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        14,373,472
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        42,042 sq mi <br/> (108,890 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Quetzal
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Guatemala City <br/>1.075 million
                    </div>
                </div>
            </div>
        </div>
        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        <span> Large cities: <br/>
                           </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/guatemala-map.gif" class="img-thumbnail" onclick="view('img/guatemala-map.gif')"/>
    <div id="geography" style="color: white">
        <p>
            The northernmost of the Central American nations, Guatemala is the size of Tennessee.
            Its neighbors are Mexico on the north and west, and Belize, Honduras, and El Salvador on the east.
            The country consists of three main regions—the cool highlands with the heaviest population,
            the tropical area along the Pacific and Caribbean coasts, and the tropical jungle in the northern lowlands
            (known as the Petén).
        </p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/g">Back to G</a></button>
    </div>
</div>
<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
