<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">
</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Honduras<img src="img/honduras-flag.gif" alt="" style="margin-left: 30px" onclick="view('img/honduras-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%" src=https://www.youtube.com/v/nFwknPE-K3I></iframe>
    </div>
    <div id="content" class="thumbnail">
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        8,598,561
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        43,278 sq mi <br/> (112,090 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Lempira
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Tegucigalpa <br/>  1.088 million
                    </div>
                </div>
            </div>
        </div>
        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        <span> Large cities: <br/>
                           </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/honduras-map.gif" class="img-thumbnail" onclick="view('img/honduras-map.gif')"/>
    <div id="geography" style="color: white">
        <p>
            Honduras, in the north-central part of Central America, has a Caribbean as well as a Pacific coastline.
            Guatemala is to the west, El Salvador to the south, and Nicaragua to the east.
            The second-largest country in Central America, Honduras is slightly larger than Tennessee.
            Generally mountainous, the country is marked by fertile plateaus, river valleys, and narrow coastal plains.
        </p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/h">Back to H</a></button>
    </div>
</div>
<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
