<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">
</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Ireland<img src="img/ireland-flag.gif" alt="" style="margin-left: 30px" onclick="view('img/ireland-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%" src=https://www.youtube.com/v/sZD85LbGlh0></iframe>
    </div>
    <div id="content" class="thumbnail">
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        4,832,765
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        27,135 sq mi <br/>  (70,280 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Euro (formerly Irish pound [punt])
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Dublin <br/>  1.121 million
                    </div>
                </div>
            </div>
        </div>
        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        <span> Large cities: <br/>
                           </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/ireland-map.gif" class="img-thumbnail" onclick="view('img/ireland-map.gif')"/>
    <div id="geography" style="color: white">
        <p>
            Ireland is situated in the Atlantic Ocean and separated from Great Britain by the Irish Sea.
            Half the size of Arkansas, it occupies the entire island except for the six counties that make up Northern Ireland.
            Ireland resembles a basin—a central plain rimmed with mountains, except in the Dublin region.
        </p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/i">Back to I</a></button>
    </div>
</div>
<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
