<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">
</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Israel<img src="img/israel-flag.gif" alt="" style="margin-left: 30px" onclick="view('img/israel-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%" src=https://www.youtube.com/v/qeVvuph2WAQ></iframe>
    </div>
    <div id="content" class="thumbnail">
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        7,821,850
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        8,019 sq mi <br/> (20,770 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Shekel
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Jerusalem <br/> 791,000
                    </div>
                </div>
            </div>
        </div>
        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        <span> Large cities: <br/>
                             Tel Aviv-Yafo 3.381 million<br/>
                            Haifa 1.054 million
                           </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/israel-map.gif" class="img-thumbnail" onclick="view('img/israel-map.gif')"/>
    <div id="geography" style="color: white">
        <p>
            Israel, slightly larger than Massachusetts, lies at the eastern end of the Mediterranean Sea.
            It is bordered by Egypt on the west, Syria and Jordan on the east, and Lebanon on the north.
            Its maritime plain is extremely fertile. The southern Negev region, which comprises almost half the total area,
            is largely a desert.
        </p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/i">Back to I</a></button>
    </div>
</div>
<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
