<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">
</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Jordan<img src="img/jordan-flag.gif" alt="" style="margin-left: 30px" onclick="view('img/jordan-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%" src=https://www.youtube.com/v/7pMe4Km2PA0></iframe>
    </div>
    <div id="content" class="thumbnail">
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        6,508,887
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        34,495 sq mi <br/>(89,342 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Jordanian dinar
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Amman <br/> 1.088 million
                    </div>
                </div>
            </div>
        </div>
        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        <span> Large cities:<br/>
                           </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/jordan-map.gif" class="img-thumbnail" onclick="view('img/jordan-map.gif')"/>
    <div id="geography" style="color: white">
        <p>
            The Middle East kingdom of Jordan is bordered on the west by Israel and the Dead Sea,
            on the north by Syria, on the east by Iraq, and on the south by Saudi Arabia.
            It is comparable in size to Indiana. Arid hills and mountains make up most of the country.
            The southern section of the Jordan River flows through the country.
        </p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/j">Back to J</a></button>
    </div>
</div>
<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
