<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">
</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Kenya<img src="img/kenya-flag.gif" alt="" style="margin-left: 30px" onclick="view('img/kenya-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%" src=https://www.youtube.com/v/CYhZSx9TKvQ></iframe>
    </div>
    <div id="content" class="thumbnail">
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        45,010,056
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        224,961 sq mi <br/>(582,650 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Kenya shilling
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Nairobi  <br/>   3.363 million
                    </div>
                </div>
            </div>
        </div>
        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        <span> Large cities:<br/>
                          Mombasa, 972,000
                           </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/kenya-map.gif" class="img-thumbnail" onclick="view('img/kenya-map.gif')"/>
    <div id="geography" style="color: white">
        <p>
            Kenya lies across the equator in east-central Africa, on the coast of the Indian Ocean.
            It is twice the size of Nevada. Kenya borders Somalia to the east,
            Ethiopia to the north, Tanzania to the south, Uganda to the west, and Sudan to the northwest.
        </p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/k">Back to K</a></button>
    </div>
</div>
<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
