<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">
</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Kiribati<img src="img/kiribati-flag.gif" alt="" style="margin-left: 30px" onclick="view('img/kiribati-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%" src=https://www.youtube.com/v/AyZ30c9osM0></iframe>
    </div>
    <div id="content" class="thumbnail">
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        104,488
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        313 sq mi  <br/>(811 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Australian dollar
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Tarawa  <br/>44,000
                    </div>
                </div>
            </div>
        </div>
        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        <span> Large cities:<br/>
                           </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/kiribati-map.gif" class="img-thumbnail" onclick="view('img/kiribati-map.gif')"/>
    <div id="geography" style="color: white">
        <p>
            Kiribati, formerly the Gilbert Islands, consists of three widely separated main groups of southwest Pacific islands:
            the Gilberts on the equator, the Phoenix Islands to the east, and the Line Islands farther east.
            Ocean Island, producer of phosphates until it was mined out in 1981, is also included in the 2 million square miles of ocean.
        </p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/k">Back to K</a></button>
    </div>
</div>
<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
