<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">
</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Libya<img src="img/libya-flag.gif" alt="" style="margin-left: 30px"
                                       onclick="view('img/libya-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%"
                src=https://www.youtube.com/v/bYdHa3_6ZKI></iframe>
    </div>
    <div id="content" class="thumbnail">
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        6,244,174
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        679,358 sq mi <br/> (1,759,540 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Libyan dinar
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Tripoli <br/>1.127 million
                    </div>
                </div>
            </div>
        </div>
        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        <span> Large cities:<br/>
                           </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/libya-map.gif" class="img-thumbnail" onclick="view('img/libya-map.gif')"/>
    <div id="geography" style="color: white">
        <p>
            Libya stretches along the northeast coast of Africa between Tunisia and Algeria on the west and
            Egypt on the east; to the south are the Sudan, Chad, and Niger. It is one-sixth larger than Alaska.
            Much of the country lies within the Sahara. Along the Mediterranean coast and farther inland is arable
            plateau land.
        </p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/l">Back to L</a></button>
    </div>
</div>
<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
