<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">
</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Lithuania<img src="img/lithuania-flag.gif" alt="" style="margin-left: 30px"
                                               onclick="view('img/lithuania-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%"
                src=https://www.youtube.com/v/b7UHgF3Imng></iframe>
    </div>
    <div id="content" class="thumbnail">
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        3,505,738
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        25,174 sq mi  <br/> (65,200 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Litas
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Vilnius <br/>  546,000
                    </div>
                </div>
            </div>
        </div>
        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        <span> Large cities:<br/>
                           </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/lithuania-map.gif" class="img-thumbnail" onclick="view('img/lithuania-map.gif')"/>
    <div id="geography" style="color: white">
        <p>
            Lithuania is situated on the eastern shore of the Baltic Sea and borders Latvia on the north,
            Belarus on the east and south, and Poland and the Kaliningrad region of Russia on the southwest.
            It is a country of gently rolling hills, many forests, rivers and streams, and lakes.
            Its principal natural resource is agricultural land.
        </p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/l">Back to L</a></button>
    </div>
</div>
<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
