<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png">
</div>
<div id="wrapper" style="width: 100%">
    <h1 style="color: white">Madagascar<img src="img/madagascar-flag.gif" alt="" style="margin-left: 30px"
                                           onclick="view('img/madagascar-flag.gif')"></h1>
    <div style="height: 210px;float: right">
        <iframe class="img-thumbnail" style="width: 100%;height: 100%"
                src=https://www.youtube.com/v/cVXJhUiC3ak></iframe>
    </div>
    <div id="content" class="thumbnail">
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Population: <br/>
                        23,201,926
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Total area: <br/>
                        226,656 sq mi  <br/> (587,040 sq km)
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Money: <br/>
                        Malagasy franc
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        Capital: <br/>
                        Antananarivo <br/>  1.987 million
                    </div>
                </div>
            </div>
        </div>
        <div id="cities" class="moving-zone">
            <div class="popup">
                <div class="popup-content">
                    <div class="popup-text">
                        <span> Large cities:<br/>
                           </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/madagascar-map.gif" class="img-thumbnail" onclick="view('img/madagascar-map.gif')"/>
    <div id="geography" style="color: white">
        <p>
            Madagascar lies in the Indian Ocean off the southeast coast of Africa opposite Mozambique.
            The world's fourth-largest island, it is twice the size of Arizona.
            The country's low-lying coastal area gives way to a central plateau.
            The once densely wooded interior has largely been cut down.
        </p>
    </div>
    <div class="divButton">
        <button id="left"><a href="#/a-z">Back to A-Z</a></button>
        <button id="right"><a href="#/м">Back to М</a></button>
    </div>
</div>
<script type="text/javascript">
    function view(imgSrc) {
        a = window.open(imgSrc, 'a', 'width=auto,height=auto');
    }
</script>
