<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png" alt="">
</div>

<div id="wrapper">
   <h1 style="color: white">A</h1>
    <aside >
        <ul>
            <li><a href="#/afghanistan">Afghanistan</a></li>
            <li><a href="#">Albania</a></li>
            <li><a href="#">Algeria</a></li>
            <li><a href="#">Andorra</a></li>
        </ul>
    </aside>
    <aside >
        <ul>
            <li><a href="#">Angola</a></li>
            <li><a href="#">Antigua & Barbuda</a></li>
            <li><a href="#">Argentina</a></li>
            <li><a href="#">Armenia</a></li>
        </ul>
    </aside>
    <aside >
        <ul>
            <li><a href="#">Australia</a></li>
            <li><a href="#">Austria</a></li>
            <li><a href="#">Azerbaijan</a></li>
        </ul>
    </aside>
    <div class="divButton">
        <button><a href="#/a-z">Back to A-Z</a> </button>
    </div>
</div>
