<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png" alt="">
</div>
<div id="wrapper">
    <h1 style="color: white">A</h1>
    <aside>
        <ul>
            <li><a href="#/afghanistan">Afghanistan</a></li>
            <li><a href="#/albania">Albania</a></li>
            <li><a href="#/algeria">Algeria</a></li>
            <li><a href="#/andorra">Andorra</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#/angola">Angola</a></li>
            <li><a href="#/antigua_and_barbuda">Antigua & Barbuda</a></li>
            <li><a href="#/argentina">Argentina</a></li>
            <li><a href="#/armenia">Armenia</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#/australia">Australia</a></li>
            <li><a href="#/austria">Austria</a></li>
            <li><a href="#/azerbaijan">Azerbaijan</a></li>
        </ul>
    </aside>
    <div class="divButton">
        <button><a href="#/a-z">Back to A-Z</a></button>
    </div>
</div>
