<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png" alt="">
</div>

<div id="wrapper">
    <h1 style="color: white">B</h1>
    <aside >
        <ul>
            <li><a href="#/bahamas">Bahamas</a></li>
            <li><a href="#/bahrain">Bahrain</a></li>
            <li><a href="#/bangladesh">Bangladesh</a></li>
            <li><a href="#/barbados">Barbados</a></li>
            <li><a href="#/belarus">Belarus</a></li>
            <li><a href="#/belgium">Belgium</a></li>

        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#/belize">Belize</a></li>
            <li><a href="#/benin">Benin</a></li>
            <li><a href="#/bhutan">Bhutan</a></li>
            <li><a href="#/bolivia">Bolivia</a></li>
            <li><a href="#/bosnia">Bosnia & Herzegovina</a></li>
            <li><a href="#/botswana">Botswana</a></li>
        </ul>
    </aside>
    <aside>
        <ul>

            <li><a href="#/brazil">Brazil</a></li>
            <li><a href="#/brunei">Brunei</a></li>
            <li><a href="#/bulgaria">Bulgaria</a></li>
            <li><a href="#">Burkina Faso</a></li>
            <li><a href="#">Burma (Myanmar)</a></li>
            <li><a href="#">Burundi</a></li>
        </ul>
    </aside>
    <div class="divButton">
        <button><a href="#/a-z">Back to A-Z</a> </button>
    </div>
</div>
