<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png" alt="">
</div>
<div id="wrapper">
    <h1 style="color: white">C</h1>
    <aside >
        <ul>
            <li><a href="#/cambodia">Cambodia</a></li>
            <li><a href="#/cameroon">Cameroon</a></li>
            <li><a href="#/canada">Canada</a></li>
            <li><a href="#/cape-verde">Cape Verde</a></li>
            <li><a href="#/centralAfricanRepublic">Central African Republic</a></li>
            <li><a href="#/chad">Chad</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#/chile">Chile</a></li>
            <li><a href="#/china">China</a></li>
            <li><a href="#/colombia">Colombia</a></li>
            <li><a href="#">Comoros</a></li>
            <li><a href="#">Congo</a></li>
            <li><a href="#">Congo, Democratic</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#">Costa Rica</a></li>
            <li><a href="#">Côte d'Ivoire</a></li>
            <li><a href="#">Croatia</a></li>
            <li><a href="#">Cuba</a></li>
            <li><a href="#">Cyprus</a></li>
            <li><a href="#">Czech Republic</a></li>
        </ul>
    </aside>
    <div class="divButton">
        <button><a href="#/a-z">Back to A-Z</a> </button>
    </div>
</div>
