<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png" alt="">
</div>
<div id="wrapper">
    <h1 style="color: white">D</h1>
    <aside >
        <ul>
            <li><a href="#">Denmark</a></li>
            <li><a href="#">Djibouti</a></li>>
        </ul>
    </aside>
    <aside >
        <ul>
            <li><a href="#">Dominica</a></li>
            <li><a href="#">Dominican Republic</a></li>
        </ul>
    </aside>
    <div class="divButton">
        <button><a href="#/a-z">Back to A-Z</a> </button>

    </div>
</div>
