<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png" alt="">
</div>
<div id="wrapper">
    <h1 style="color: white">E</h1>
    <aside>
        <ul>
            <li><a href="#/ecuador">Ecuador</a></li>
            <li><a href="#/east-timor">East Timor</a></li>
            <li><a href="#/egypt">Egypt</a></li>
            <li><a href="#el-salvador">El Salvador</a></li>
            <li><a href="#/england">England</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#/equatorial-guinea">Equatorial Guinea</a></li>
            <li><a href="#/eritrea">Eritrea</a></li>
            <li><a href="#/estonia">Estonia</a></li>
            <li><a href="#/ethiopia">Ethiopia</a></li>
        </ul>
    </aside>
    <div class="divButton">
        <button><a href="#/a-z">Back to A-Z</a></button>
    </div>
</div>
