<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png" alt="">
</div>
<div id="wrapper">
    <h1 style="color: white">E</h1>
    <aside>
        <ul>
            <li><a href="#">Ecuador</a></li>
            <li><a href="#">East Timor</a></li>
            <li><a href="#">Egypt</a></li>
            <li><a href="#">El Salvador</a></li>
            <li><a href="#">England</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#">Equatorial Guinea</a></li>
            <li><a href="#">Eritrea</a></li>
            <li><a href="#">Estonia</a></li>
            <li><a href="#">Ethiopia</a></li>
        </ul>
    </aside>
    <div class="divButton">
        <button><a href="#/home">Back to A-Z</a></button>
    </div>
</div>
