<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png" alt="">
</div>
<div id="wrapper">
    <h1 style="color: white">G</h1>
    <aside >
        <ul>
            <li><a href="#">Gabon</a></li>
            <li><a href="#">Gambia</a></li>
            <li><a href="#">Georgia</a></li>
            <li><a href="#">Germany</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#">Ghana</a></li>
            <li><a href="#">Great Britain</a></li>
            <li><a href="#">Greece</a></li>
            <li><a href="#">Grenada</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#">Guatemala</a></li>
            <li><a href="#">Guinea</a></li>
            <li><a href="#">Guinea-Bissau</a></li>
            <li><a href="#">Guyana</a></li>
        </ul>
    </aside>
    <div class="divButton">
        <button><a href="#/a-z">Back to A-Z</a> </button>
    </div>
</div>
