<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png" alt="">
</div>
<div id="wrapper">
    <h1 style="color: white">G</h1>
    <aside>
        <ul>
            <li><a href="#/gabon">Gabon</a></li>
            <li><a href="#/gambia">Gambia</a></li>
            <li><a href="#/georgia">Georgia</a></li>
            <li><a href="#/germany">Germany</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#/ghana">Ghana</a></li>
            <li><a href="#/gb">Great Britain</a></li>
            <li><a href="#/greece">Greece</a></li>
            <li><a href="#/grenada">Grenada</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#/guatemala">Guatemala</a></li>
            <li><a href="#/guinea">Guinea</a></li>
            <li><a href="#/guinea-bissau">Guinea-Bissau</a></li>
            <li><a href="#/guyana">Guyana</a></li>
        </ul>
    </aside>
    <div class="divButton">
        <button><a href="#/a-z">Back to A-Z</a></button>
    </div>
</div>
