<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png" alt="">
</div>
<div id="wrapper">
    <h1 style="color: white">I</h1>
    <aside>
        <ul>
            <li><a href="#/iceland">Iceland</a></li>
            <li><a href="#">India</a></li>
            <li><a href="#">Indonesia</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#">Iran</a></li>
            <li><a href="#">Iraq</a></li>
            <li><a href="#">Ireland</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#">Israel</a></li>
            <li><a href="#">Italy</a></li>
        </ul>
    </aside>
    <div class="divButton">
        <button><a href="#/a-z">Back to A-Z</a></button>
    </div>
</div>
