<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png" alt="">
</div>
<div id="wrapper">
    <h1 style="color: white">K</h1>
    <aside>
        <ul>
            <li><a href="#/kazakhstan">Kazakhstan</a></li>
            <li><a href="#/kenya">Kenya</a></li>
            <li><a href="#/kiribati">Kiribati</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#/korea-north">Korea, North</a></li>
            <li><a href="#/korea-south">Korea, South</a></li>
            <li><a href="#/kosovo">Kosovo</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#">Kuwait</a></li>
            <li><a href="#">Kyrgyzstan</a></li>
        </ul>
    </aside>
    <div class="divButton">
        <button><a href="#/a-z">Back to A-Z</a></button>
    </div>
</div>
