<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png" alt="">
</div>
<div id="wrapper">
    <h1 style="color: white">L</h1>
    <aside>
        <ul>
            <li><a href="#">Laos</a></li>
            <li><a href="#">Latvia</a></li>
            <li><a href="#">Lebanon</a></li>

        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#">Lesotho</a></li>
            <li><a href="#">Liberia</a></li>
            <li><a href="#">Libya</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#">Liechtenstein</a></li>
            <li><a href="#">Lithuania</a></li>
            <li><a href="#">Luxembourg</a></li>
        </ul>
    </aside>
    <div class="divButton">
        <button><a href="#/a-z">Back to A-Z</a></button>

    </div>
</div>
