<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png" alt="">
</div>
<div id="wrapper">
    <h1 style="color: white">M</h1>
    <aside>
        <ul>
            <li><a href="#/macedonia">Macedonia</a></li>
            <li><a href="#/madagascar">Madagascar</a></li>
            <li><a href="#/malawi">Malawi</a></li>
            <li><a href="#/malaysia">Malaysia</a></li>
            <li><a href="#/maldives">Maldives</a></li>
            <li><a href="#">Mali</a></li>
            <li><a href="#">Malta</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#">Marshall Islands</a></li>
            <li><a href="#">Mauritania</a></li>
            <li><a href="#">Mauritius</a></li>
            <li><a href="#">Mexico</a></li>
            <li><a href="#">Micronesia</a></li>
            <li><a href="#">Moldova</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#">Monaco</a></li>
            <li><a href="#">Mongolia</a></li>
            <li><a href="#">Montenegro</a></li>
            <li><a href="#">Morocco</a></li>
            <li><a href="#">Mozambique</a></li>
            <li><a href="#">Myanmar</a></li>
        </ul>
    </aside>
    <div class="divButton">
        <button><a href="#/a-z">Back to A-Z</a></button>
    </div>
</div>
