<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png" alt="">
</div>
<div id="wrapper">
    <h1 style="color: white">N</h1>
    <aside >
        <ul>
            <li><a href="#">Namibia</a></li>
            <li><a href="#">Nauru</a></li>
            <li><a href="#">Nepal</a></li>
            <li><a href="#">Netherlands</a></li>
        </ul>
    </aside>
    <aside >
        <ul>
            <li><a href="#">New Zealand</a></li>
            <li><a href="#">Nicaragua</a></li>
            <li><a href="#">Niger</a></li>
        </ul>
    </aside>
    <aside >
        <ul>
            <li><a href="#">Nigeria</a></li>
            <li><a href="#">Norway</a></li>
            <li><a href="#">Northern Ireland</a></li>
        </ul>
    </aside>
    <div class="divButton">
        <button><a href="#/home">Back to A-Z</a> </button>
    </div>
</div>
