<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png" alt="">
</div>
<div id="wrapper">
    <h1 style="color: white">P</h1>
    <aside>
        <ul>
            <li><a href="#">Pakistan</a></li>
            <li><a href="#">Palau</a></li>
            <li><a href="#">Palestinian State</a></li>
            <li><a href="#">Panama</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#">Papua New Guinea</a></li>
            <li><a href="#">Paraguay</a></li>
            <li><a href="#">Peru</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#">Philippines</a></li>
            <li><a href="#">Poland</a></li>
            <li><a href="#">Portugal</a></li>
        </ul>
    </aside>
    <div class="divButton">
        <button><a href="#/a-z">Back to A-Z</a></button>
    </div>
</div>
