<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png" alt="">
</div>

<div id="wrapper">
    <h1 style="color: white">R</h1>
    <aside >
        <ul>
            <li><a href="#">Romania</a></li>
        </ul>
    </aside>
    <aside >
        <ul>
            <li><a href="#">Russia</a></li>
        </ul>
    </aside>
    <aside >
        <ul>
            <li><a href="#">Rwanda</a></li>
        </ul>
    </aside>
    <div class="divButton">
        <button><a href="#/home">Back to A-Z</a> </button>

    </div>
</div>
