<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png" alt="">
</div>

<div id="wrapper">
    <h1 style="color: white">S</h1>
    <aside>
        <ul>
            <li><a href="#">St. Kitts & Nevis</a></li>
            <li><a href="#">St. Lucia</a></li>
            <li><a href="#">St. Vincent & The Grenadines</a></li>
            <li><a href="#">Samoa</a></li>
            <li><a href="#">San Marino</a></li>
            <li><a href="#">São Tomé & Príncipe</a></li>
            <li><a href="#">Saudi Arabia</a></li>
            <li><a href="#">Scotland</a></li>
            <li><a href="#">Senegal</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#">Serbia</a></li>
            <li><a href="#">Seychelles</a></li>
            <li><a href="#">Sierra Leone</a></li>
            <li><a href="#">Singapore</a></li>
            <li><a href="#">Slovakia</a></li>
            <li><a href="#">Slovenia</a></li>
            <li><a href="#">Solomon Islands</a></li>
            <li><a href="#">Somalia</a></li>
            <li><a href="#">South Africa</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#">Spain</a></li>
            <li><a href="#">Sri Lanka</a></li>
            <li><a href="#">Sudan</a></li>
            <li><a href="#">South Sudan</a></li>
            <li><a href="#">Suriname</a></li>
            <li><a href="#">Swaziland</a></li>
            <li><a href="#">Sweden</a></li>
            <li><a href="#">Switzerland</a></li>
            <li><a href="#">Syria</a></li>
        </ul>
    </aside>

    <div class="divButton">
        <button><a href="#/a-z">Back to A-Z</a></button>

    </div>
</div>
