<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png" alt="">
</div>

<div id="wrapper">
    <h1 style="color: white">T</h1>
    <aside>
        <ul>
            <li><a href="#">Taiwan</a></li>
            <li><a href="#">Tajikistan</a></li>
            <li><a href="#">Tanzania</a></li>
            <li><a href="#">Thailand</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#">Togo</a></li>
            <li><a href="#">Tonga</a></li>
            <li><a href="#">Trinidad & Tobago</a></li>
            <li><a href="#">Tunisia</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#">Turkey</a></li>
            <li><a href="#">Turkmenistan</a></li>
            <li><a href="#">Tuvalu</a></li>
        </ul>
    </aside>

    <div class="divButton">
        <button><a href="#/home">Back to A-Z</a></button>
    </div>
</div>
