<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png" alt="">
</div>
<div id="wrapper">
    <h1 style="color: white">U</h1>
    <aside>
        <ul>
            <li><a href="#">Uganda</a></li>
            <li><a href="#">Ukraine</a></li>
            <li><a href="#">United Arab Emirates</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#">United Kingdom</a></li>
            <li><a href="#">United States</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#">Uruguay</a></li>
            <li><a href="#">Uzbekistan</a></li>
        </ul>
    </aside>

    <div class="divButton">
        <button><a href="#/a-z">Back to A-Z</a></button>
    </div>
</div>
