<div ng-include="'views/navbar-header.html'"></div>
<div class="coverImg">
    <img src="img/world-map.png" alt="">
</div>

<div id="wrapper">
    <h1 style="color: white">V</h1>
    <aside>
        <ul>
            <li><a href="#">Vanuatu</a></li>
            <li><a href="#">Vatican City (Holy See)</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#">Venezuela</a></li>
        </ul>
    </aside>
    <aside>
        <ul>
            <li><a href="#">Vietnam</a></li>
        </ul>
    </aside>

    <div class="divButton">
        <button><a href="#/a-z">Back to A-Z</a></button>
    </div>
</div>
