<div ng-include="'views/navbar-header.html'"></div>

<body id="page">
<ul class="cb-slideshow">
    <li><span>Image 01</span><div><h3>196 countries</h3></div></li>
    <li><span>Image 02</span><div><h3>Thousands of  cities</h3></div></li>
    <li><span>Image 03</span><div><h3>Thousands of  pictures</h3></div></li>
    <li><span>Image 04</span><div><h3>Seas</h3></div></li>
    <li><span>Image 05</span><div><h3>Forests</h3></div></li>
    <li><span>Image 06</span><div><h3>Our beautiful planet</h3></div></li>
</ul>
<div class="container">
    <div class="codrops-top">
        <div class="clr"></div>
    </div>
</div>
</body>
